*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** Set Variables  *****/
:root{
  --btn-width: 70.6px;
  --btn-height: 70.6px;
  --btn-font-size: 25px;
  --btn-background-color: #F9F9F9;
  --equal-sign-bg: #3DAE3D;
}

/**** Containers Styles ***/
.calculator-container{
  margin: 10% 0% 0% 0%;
}

.row{
  margin-bottom: 10px;
}

.col-md{
  display: inline;
  margin: 2% 2.5%;
}

.button-container{
  border-top: 1.5px solid var(--btn-background-color);
  padding-top: 25px;
  position: relative;
  width: 95%;
  left: 10px;
  
}

/*** Input Box Styles **/
.input-box-container > input{
  width: 90%;
  height: 60px;
  margin-bottom: 26%;
  margin-left: 5.5%;
  text-align: right;
  font-size: 40px;
  outline: none;
  border: none;
  color: #555551;
}

.results-container {
  margin-bottom: 8%;
  height: 4vh;
  font-size: 20px;
}

.result{
  text-align: right;
  color: #668686;
  margin: 5.5%
}

/*** Buttons Styles ***/
input[type=button]{
  font-size: var(--btn-font-size);
  width: var(--btn-width);
  height: var(--btn-height);
  border-radius: 50%;
  border: none;
  background-color: var(--btn-background-color);
  
}

#equal-sign{
  background-color: var(--equal-sign-bg);
  color: white;
  font-size: 50px;
}

#add-sign, 
#minus-sign, 
#modulus-sign,
#parentheses-sign,
#division-sign,
#multiple-sign{
  color: var(--equal-sign-bg);
  font-size: 33px;
  font-weight: bold;
}

#clear-sign{
  color: #FF7575;
  font-size: 33px;
  font-weight: bold;
}

/* Large desktops and laptops */
@media (min-width: 1200px){

  .calculator-container{
    width: 30%;
    position: relative;
    border: 1px solid black;
    transform: translate(6%, 3%);
    margin: auto;
    height: 99vh;
  }
  
  .input-box-container > input{
    margin-bottom: 8%;
  }

  .button-container{
    margin-left: 3%;
    position: relative;
    padding-top: 20px;
  }

  .results-container{
    margin: 5;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .calculator-container{
    width: 40%;
    position: relative;
    border: 1px solid black;
    transform: translate(6%, 3%);
    margin: auto;
    height: 99vh;
  }
  
  .input-box-container > input{
    margin-bottom: 8%;
  }

  .button-container{
    margin-left: 5%;
    position: relative;
    padding-top: 20px;
  }

  .results-container{
    margin: 5;
  }
}

@media (min-width: 768px) and (max-width: 989px) {
  .calculator-container{
    width: 60%;
    position: relative;
    border: 1px solid black;
    transform: translate(6%, 3%);
    margin: auto;
    height: 100vh;
  }
  
  .input-box-container > input{
    margin-bottom: 5%;
    height: 55px;
  }

  .button-container{
    margin-left: 5%;
    position: relative;
    padding-top: 5px;
  }

  .results-container{
    margin-bottom: 5%;
    height: 2vh;
  }

  /*** Buttons Styles ***/
  input[type=button]{
    width: 58px;
    height: 58px;
    margin-left: 4%;
  }
}
